body > .pin-it-container {
  position: fixed;
  z-index: 2147483647;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 2px 2px 1px 1px gray;
  padding: 4px;
  resize: both;
  box-sizing: border-box;
}

body > .pin-it-container > .controls {
  display: flex;
  background-color: white;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}

body > .pin-it-container > .controls > .remove-button {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

body > .pin-it-container > .controls > .drag {
  cursor: grab;
  width: 100%;
}

body > .pin-it-container > .controls > .drag:active {
  cursor: grabbing;
}
